{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Promise": true
  },
"parser": "babel-eslint",
 "extends": ["standard", "standard-jsx"]
}