.block { 
  margin: 0 3%;
}

.title {        
  display: inline-block;
  padding: 0 5px;
  font-family: distant-galaxy, system-ui;
  text-transform: lowercase;
  font-size: calc( 1rem + 16 * (100vw - 320px) / (960 - 320));

  span {
    font-size: 50%;
    vertical-align: text-top;
  }
}

.icon {
  width: 46px;
  margin-left: -15px;
  vertical-align: middle;
}

.add {
  color: white;
  text-decoration: underline;
  padding-left: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 90%;
}

.confirm {
  text-align: center;
  margin-top: 50px;
}

.confirmButton {
  border: solid 1px darkblue;
  background: white;
  padding: 10px 15px;
  font-size: 100%;
  cursor: pointer;
}