@import 'assets/styles/colors';

.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px 50px 15px;
}

.block {
  margin: 0 3%;
}

.title {
  display: inline-block;
  font-family: 'distant-galaxy';
  font-size: calc(1rem + 16 * (100vw - 320px) / (960 - 320));
  padding: 0 5px;
  text-transform: lowercase;
  white-space: pre;

  span {
    font-family: system-ui, Helvetica Neue;
    font-size: 50%;
    vertical-align: text-top;
  }
}

.icon {
  margin-left: -15px;
  vertical-align: middle;
  width: 46px;
}

.add {
  background: none;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 90%;
  padding-left: 10px;
  text-decoration: underline;
}

.confirm {
  margin-top: 50px;
  text-align: center;
}

.confirmbutton {
  background: $white;
  border: solid 1px $darkblue;
  cursor: pointer;
  font-size: 100%;
  padding: 10px 15px;
}
