.block {
  width: 30%;
  max-width: 500px;
  margin: 0 auto;
}

.title {        
  filter: drop-shadow(3px 3px 3px black);
  display: inline-block;
  color: white;
  padding: 0 5px;
  font-family: Georgia;
  font-size: 20px;
  transform: translate3d(5%, 100%, 0);
}

.add {
  text-decoration: underline;
  color: white;
  padding-left: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 90%;
}

.confirm {
  text-align: center;
  margin-top: 50px;
}

.confirmButton {
  border: solid 1px darkblue;
  background: white;
  padding: 10px 15px;
  font-size: 100%;
  cursor: pointer;
}