@import 'assets/styles/colors';

.block {
  font-family: 'distant-galaxy';
  font-size: 150%;
  margin: 0 0 50px;
  text-align: center;
  user-select: none;

  a {
    cursor: pointer;
  }
}

.arrow {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  width: 25px;
}

.disabled {
  cursor: default;
  opacity: .2;
  pointer-events: none;
}

.graph {
  font-size: 80%;
  margin-top: 30px;

  span {
    background: $white;
    display: inline-block;
    max-width: 15px;
    padding: 1px;
    vertical-align: middle;
  }
}
