.block {
  text-align: center;
  font-family: 'distant-galaxy';
  font-size: 150%;
  margin: 0 0 50px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  a {
    cursor: pointer;
  }
}