@import 'assets/styles/style.scss';

:global {
  body {
    background: #20222E;
    color: #FFE81F;
    font-family: system-ui, Helvetica Neue;
  }

  * {
    box-sizing: border-box;
    margin:0;
  }
}

.block {
  width: 500px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  
  h1 {
    font-family: 'distant-galaxy';
    font-size: calc( 3rem + 16 * (100vw - 320px) / (960 - 320) );
  }

  h2 {
    font-size: 80%;
    text-align: right;
  }
  
  .icon {
    display: inline-block;
    width: 14px;
    vertical-align: text-top;
    filter: drop-shadow(3px 3px 2px black);
  }
}

.main {
  text-align: left;
  width: 100%;
  margin-top: 75px;
  padding-bottom: 50px;
  max-width: 500px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  color: #FFE81F;
  width: 100%;
  text-align: right;
  font-size: 70%;
  right: 0;
  background: rgba(32,34,46, .1);
  background: linear-gradient(to bottom, rgba(32,34,46, 0), rgba(32,34,46, 1));

  a {
    color: white;
  }
}

.heart {
  color: red;
}
